<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">

        <% ['backpacking', 'gear', 'photos', 'food'].each do |section| %>

          <% if Post.where("section = ?", section).present? %>

            <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="#">
                  <%= image_tag "#{section}.png", alt: section %> <%= section.titleize %>
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu section-dropdown">
                <%= render partial: 'shared/tabs/post', collection: Post.where("section = ?", section).order('created_at DESC').first(3) %>
                <li class="section-read-more">
                  <strong>
                    <%= link_to "More From #{section.titleize} <i class=\"icon-arrow-right icon-white\"></i>".html_safe, section_posts_path(section: section) %>
                  </strong>
                </li>
              </ul>
            </li>

          <% end %>

        <% end %>

        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <%= image_tag "awesomeness.png", alt: 'tags' %> Gear Guides
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <% GearGuide.find_each do |guide| %>
              <li>
                <%= link_to guide.title, gear_guide_path(guide) %>
              </li>
            <% end %>
          </ul>
        </li>

      </ul>

      <ul class="nav pull-right header-meta">

        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <%= image_tag "search.png", alt: 'Search' %>
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu search-dropdown">
            <li>
              <%= form_tag posts_path, method: 'get', class: 'search-form' do %>
                <%= text_field_tag :q, params[:q], class: 'search-query', placeholder: 'Search' %>
              <%= submit_tag "Search", name: nil, class: 'search-submit' %>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <%= image_tag "question.png", alt: 'Information', title: 'Information' %>
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Contact", new_contact_path %></li>
            <li><%= link_to "About", about_path %></li>
            <% if user_signed_in? %>
              <li class="divider"></li>
              <li><%= link_to "New Category", new_category_path %></li>
              <li><%= link_to "New Post", new_post_path %></li>
              <li><%= link_to "New Gear Guide", new_gear_guide_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
              <li><%= link_to "Edit User", edit_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


