<% provide(:title, "Camping and Backpacking Brands") %>
<% provide(:desc, "A comprehensive list of camping and backpacking brands, with options to sort for those in the cottage industry, as well as by gear type manufactured, such as sleeping bags, backpacks or tents") %>
<% provide(:canonical, brands_url) %>

<% content_for :head do %>
  <meta property="og:title" content="Camping and Backpacking Brands" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="A comprehensive list of camping and backpacking brands, with options to sort for those in the cottage industry, as well as by gear type manufactured, such as sleeping bags, backpacks or tents" />
  <meta property="og:site_name" content="Backpacking Talk" />
  <meta property="og:url" content="<%= brands_url %>" />

  <meta property="article:published_time" content="<%= @created %>" />
  <meta property="article:modified_time" content="<%= @updated %>" />
  <meta property="article:author" content="Stuart Morris" />
  <meta property="article:section" content="Outdoors" />
<% end %>

<div itemscope itemtype="http://schema.org/Article">
  <meta itemprop="datePublished" content="<%= @created %>">
  <meta itemprop="dateModified" content="<%= @updated %>">
  <meta itemprop="author" content="Stuart Morris">

  <h1 itemprop="headline">Camping and Backpacking Brands</h1>

  <div class="gear-guide-well">
    Are we missing your favorite backpacking brand? <%= link_to "Let us know!", new_contact_path %>
  </div>

  <div class="well">
    <%= form_tag brands_path, method: 'get', class: 'brand-select-form' do %>
      <%= label_tag :cottage, "Cottage Industy Only" %>
      <%= check_box_tag :cottage, {}, params[:cottage], class: 'brand-cottage-check' %>
      <%= label_tag :gear, "Only Makers Of" %>
      <%= select_tag :gear, options_for_select(InternalCategory.all.map { |category| [category.name, category.id]}, selected: params[:gear]), { include_blank: true, class: 'brand-gear-select' } %>
      <%= submit_tag "Sort", name: nil, class: 'brand-submit my-btn' %>
    <% end %>
  </div>

  <div itemprop="articleBody">

    <% @brands.each do |brand| %>

      <h2 class="brand-h2"><%= brand.name %></h2>
      <% if brand.cottage_industry? %>
        <%= image_tag 'cottage.png', alt: 'Cottage Industry', class: 'cottage-pic' %>
      <% end %>
      <br>
      <%= link_to brand.url.gsub('http://', ''), brand.url %>
      <br>
      <% if can? :edit, brand %>
        <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_retailer_path(brand) %>
        <%= link_to '<i class="icon-remove"></i> Delete'.html_safe, brand, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
      <% end %>

      <% if brand.what_they_say.present? %>
        <div class="brand-text">
          <h3>About</h3>
          <%= simple_format(brand.what_they_say) %>
        </div>
      <% end %>
      <div class="brand-categories">
        <h3>What They Make</h3>
        <table>
          <% brand.internal_categories.each do |category| %>

            <tr>
              <td class="brand-category-name">
                <% if category.gear_guides.present? %>
                  <%= link_to category.name, gear_guide_path(category.gear_guides.first) %>
                <% else %>
                  <%= category.name %>
                <% end %>
              </td>
              <% if brand.avantlink_searchable? %>
                <td class="brand-category-indicator">
                  <%= link_to image_tag('search-link.png'), results_path(q: "#{brand.name} #{category.name}"), class: 'tooltip-me', :'data-toggle' => "tooltip", title: "Search for #{category.name} by #{brand.name}" %>
                </td>
              <% end %>
            </tr>

          <% end %>
        </table>
      </div>

      <br><br><br>

    <% end %>

  </div>

</div>

<script type="text/javascript">
  $('.tooltip-me').tooltip();
</script>

