<% provide(:title, @post.title) %>
<% provide(:desc, @post.meta_description) %>

<h1><%= @post.title %></h1>

<div class="meta-well">
  <span class="post-meta-unit">
    <i class="icon-calendar"></i>
    <%= content_tag :span, pretty_date(@post.created_at), class: 'post-date' %>
  </span>

  <span class="post-meta-unit">
    <i class="icon-tags"></i>
    <%= @post.categories.map { |c|
            "<a href=\"#{category_path(c)}\">#{c.name}</a>"
           }.join(', ').html_safe %>
  </span>

  <% if can? :edit, @post %>

    <span class="post-meta-unit">
      <i class="icon-edit"></i>
      <%= link_to 'Edit', edit_post_path(@post) %>
    </span>

    <span class="post-meta-unit">
      <i class="icon-remove"></i>
      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>

  <% end %>
</div>

<div class="post-header-pic">
  <%= link_to image_tag(@post.pic_large_url, alt: @post.picture_alt_text, title: @post.picture_alt_text), @post.pic_large_url, class: 'fancybox' %>
</div>

<div class="post-citations">
  <div class="citation-link">
    <p>Picture Sources</p>
    <i class="icon-chevron-down citation-chevron"></i>
  </div>

  <div class="citation-dropdown">
    <ul>
      <% @post.citations.each do |citation| %>
        <li>
          <%= link_to citation.text, citation.url, rel: 'nofollow', target: '_blank' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="post-content">
  <%= simple_format @post.content %>
</div>

<div class="bottom-of-post">

  <div class="newsletter">
    <div class="newsletter-prompt">
      Our Newsletter: Extra Content, Exclusive Offers And More
    </div>
    <div class="newsletter-content">
      <%= form_tag newsletters_newsletter_sign_up_path, method: 'get', class: 'newsletter-form' do %>
        <div class="newsletter-inputs">
          <%= text_field_tag :name, params[:name], placeholder: 'Name' %>
          <%= text_field_tag :email_address, params[:email_address], placeholder: 'Email Address' %>
        </div>
        <%= submit_tag "Subscribe", class: 'newsletter-submit' %>
      <% end %>
    </div>
  </div>

  <h2 class="h2-margin-left">Related Posts</h2>

  <% @post.related.each_with_index do |post, i| %>
    <div class="related-div <%= i == 3 ? 'last-related-pic' : '' %>">
      <a href="<%= post_path(post) %>">
        <%= image_tag post.pic_large_square_url, alt: post.picture_alt_text, title: post.picture_alt_text, class: "related-post-pic" %>
        <%= content_tag :span, post.title, class: 'related-post-title' %>
      </a>
    </div>
  <% end %>
</div>
