<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="uqvydQyEN_z-E5CiQMgbTQXMO688W-KNdL6klS74-GI" />
  <meta name="google-site-verification" content="fqXKMBRJGUJ-YWntWOZDu88qRndRByTp6QSRh9J0jjk" />
  <meta name="google-site-verification" content="PgC5KKaSk4WNGztYj69cQGWY5-Wc-jXua1K2eWxeCcY" />
  <link rel="canonical" href="<%= yield(:canonical) %>" />
  <title><%= sanitize full_title(yield(:title)) %></title>
  <meta name="description" content="<%= meta_desc(yield(:desc)) %>" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? && !user_signed_in? %>
  <%= auto_discovery_link_tag(:atom, feed_url(format: 'atom')) %>
  <link href='http://fonts.googleapis.com/css?family=Exo:900' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    var bindFacebookEvents, fb_events_bound, fb_root, initializeFacebookSDK, loadFacebookSDK, restoreFacebookRoot, saveFacebookRoot;

    fb_root = null;

    fb_events_bound = false;

    $(function() {
      loadFacebookSDK();
      if (!fb_events_bound) {
        return bindFacebookEvents();
      }
    });

    bindFacebookEvents = function() {
      $(document).on('page:fetch', saveFacebookRoot).on('page:change', restoreFacebookRoot).on('page:load', function() {
        return typeof FB !== "undefined" && FB !== null ? FB.XFBML.parse() : void 0;
      });
      return fb_events_bound = true;
    };

    saveFacebookRoot = function() {
      return fb_root = $('#fb-root').detach();
    };

    restoreFacebookRoot = function() {
      if ($('#fb-root').length > 0) {
        return $('#fb-root').replaceWith(fb_root);
      } else {
        return $('body').append(fb_root);
      }
    };

    loadFacebookSDK = function() {
      window.fbAsyncInit = initializeFacebookSDK;
      return $.getScript("//connect.facebook.net/en_US/all.js#xfbml=1");
    };

    initializeFacebookSDK = function() {
      return FB.init({
        //appId: 'YOUR_APP_ID',
        //channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html',
        status: true,
        cookie: true,
        xfbml: true
      });
    };
  </script>
  <%= yield :head %>
</head>
<body>
  <script type="text/javascript">

    (function() {
        var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
        li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
      })();
  </script>

  <%= render "shared/header" %>

  <%= render 'shared/alerts' %>

  <%= render "shared/logo" %>

  <div class="container" id="main-container">
    <div class="row">
      <div class="span8 main-content">
        <%= render 'shared/newsletter' %>
        <div class="yield-content">
          <%= yield %>
        </div>
      </div>
      <div class="span4">
        <%= render "shared/sidebar" %>
      </div>
    </div>
  </div>
</body>
</html>
